/* Font Style (Fira Mono) */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  .max-width{
    max-width: 1300px;
    padding: 0%;
    margin: auto;
  }

  /* Navbar Styles */
  .navbar {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: white;
    font-family: Fira Mono;
  }
  .navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    color: black;
    font-size: 33px;
    font-weight: 600;
  }
  .navbar .menu li{
    list-style: none;
    display: inline-block;
  }
  .navbar .menu li a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
  }

  /* Homepage Styles  */
  .home{
    display: flex;
    background: white;
    height: 100vh;
    width: 100vw;
    color: black;
    min-height: 500px;
    font-family: Fira Mono;
    justify-content: center;
    align-items: center;
  }
  .home .home-content .text-1{
    font-size: 67px;
    font-weight: 600;
  }

  /* Typewriter Styles */
 .container{
   display: inline-block;
 }
 .typewriter{
   overflow: hidden;
   border-right: .15em solid black;
   white-space: nowrap;
   animation: typing 1s steps(20, end) forwards,
   blinking 1.2s infinite;
   font-size: 1.6rem;
   width: 0;
 }
 @keyframes typing{
   from { width: 0 }
   to { width: 100% }
 }
 @keyframes blinking {
  from { border-color: transparent }
  to { border-color: black; }
}
  .home .home-content .solid {
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    border-top: 3px solid black;
  }
  /*.home .home-content .penguin-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }*/



